.grid-container {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "header header"
        "menu menu"
        "step step"
        "topic topic"
        "footer footer";

    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
}

.grid-item {
    width: 100% !important;
    background-size: cover !important;
}

.header {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
}

.menu {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/3;
}


.step {
    /* height: 785px; */
    display: grid;
    grid-row: 3/4;
    grid-column: 1/3;
    /*height: auto;
    background-size: cover;
    padding-bottom: 0.6em;*/
}

.topic {
    display: grid;
    grid-row: 4/5;
    grid-column: 1/3;
}

.footer {
    display: grid;
    grid-row: 5/6;
    grid-column: 1/3;
}

/*Экран Шаги*/

.step {
    /*display: grid;
    grid-row: 5 / 6;
    grid-column: 1 / 3;*/
    grid-template-columns: 50px 75px 16px 483px 32px 75px 16px 483px 50px;/*где 45 - было 75 - исправить на 45*/
    grid-template-rows: 50px 22px 35px 121px 24px 121px 24px 121px 51px;
    background-color: #f5f5f5;
}

.step h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    padding-top: 0.6em;
    text-align: center;
    /*margin-left: -1.3em;*/
}

.img_step1,
.img_step2,
.img_step3,
.img_step4,
.img_step5,
.img_step6 {
    width: 45px; /*75*/
    height: 45px; /*75*/
    background-color: #445161;
    border-radius: 50%;
}

.img_step1 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.img_step2 {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

.img_step3 {
    grid-row: 8 / 9;
    grid-column: 2 / 3;
}

.img_step4 {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
}

.img_step5 {
    grid-row: 6 / 7;
    grid-column: 6 / 7;
}
.img_step6 {
    grid-row: 8 / 9;
    grid-column: 6 / 7;
}



.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
    font-style: italic;
    font-size: 1.3rem;/*0.92rem*/
    font-weight: 500;
    color: #333333;
    padding-left: 1.8em;
    margin-top: -0.2em;
    /*background-image: url(img/bg_review.png);*/
    /*line-height: 1.12rem;*/
}

.step1 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.step2 {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
}
.step3{
    grid-row: 8 / 9;
    grid-column: 4 / 5;
}
.step4 {
    grid-row: 4 / 5;
    grid-column: 8 / 9;
}

.step5 {
    grid-row: 6 / 7;
    grid-column: 8 / 9;
}
.step6 {
    grid-row: 8 / 9;
    grid-column: 8 / 9;
}


.sign {
    font-style: italic;
    font-size: 0.97rem;/*0.87*/
    color: #989898;
    line-height: 1.12em;
    font-weight: 400;

}

/*Блок с аккордеоном*/
.topic{
    display: grid;
    background-color: #FFE0B1;
    grid-template-columns: repeat(9, 1fr); /*30px 600px 600px 30px;*/
    grid-template-rows: auto;/*repeat(9, 1fr);*/


}
.topic h2 {
    grid-row: 1 / 2;
    grid-column: 2 / 9;
    padding-top: 0.6em;
    text-align: center;
    /*margin-left: -1.3em;*/
    margin-bottom: 35px;
}
.topic h3 {
    grid-row: 9 / 10;
    grid-column: 2 / 9;
    padding-top: 0.6em;
    text-align: center;
    /*margin-left: -1.3em;*/
    margin-bottom: 35px;
}
/*Вопрос-Ответ Акордеон*/
/* 
* Формируем базовый контейнер аккордеона 
*/
.accordion {
    grid-row: 3 / 8;
    grid-column: 2 / 9;
   width: 100%;
/*
ширина произвольная выбирается
*в зависимости от места размещения 
*/
    /*max-width: 900px;в моем случае по колонкам Грид*/
    min-height: 0;
   display: block;
/* относительное позиционирование */
   position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #FFE0B1;/*#fefffa;*/
    overflow: hidden
}
/* заголовки панелей аккордеона */
.accordion h2 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 10px 25px;
    cursor: pointer;
    color: #2E363E;
    background: #FDB64E;
    border-top: 1px solid #445161;
    border-bottom: 1px solid #2E363E;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;

}
/* заголовки панелей аккордеона при наведении
* в данном варианте не срабатывает
*/
/* .accordion h2:hover {
    display: block;
    background-color: #005049;
}
*/
 
/* Формируем блоки с содерханием */
.msg {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
}
 
/* оформляем параграфы */
.msg p {
  color: rgba(48, 69, 92, 0.8);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 10px 20px
}
 
/* Позаботимся о небольших экранах */
@media (max-width: 550px) {
  .accordion {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
} 
 
/* Формируем неупорядоченный список */
.accordion ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
 
/* Определяем и формируем отдельный элемент списка 
 * в который поместим скрытый флажек,
 * заголовок панелей и блок с содержанием
*/
.accordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
}
 
/* устанавливаем время ожидания перед воспроизведением анимации 
 * на основе нумерации в дереве элементов
*/
.accordion ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.accordion ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.accordion ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.accordion ul li:last-of-type {
  padding-bottom: 0;
}
 
/* Сформируем  указатель переключения состояния аккордеона */
.accordion ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
/* расположим указатель на панели заголовка справа */
  right: 25px;
}
 
/* "Рисуем " сам указатель */
.accordion ul li i:before, .accordion ul li i:after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;
}
/* Добавляем элемент трансформации указателя при переключении */
.accordion ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
 
/* Делаем чекбокс скрытым*/
.accordion ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
/* Когда у флажка установлен checked  
 * блок с содержанием скрыт
*/
.accordion ul li input[type=checkbox]:checked ~ div.msg {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
/* А указатель показывает вниз */
.accordion ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.accordion ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
/*  Устанавливаем эффект перехода
 * между двумя состояниями указателя 
*/
div.msg, ul li i:before, ul li i:after {
    transition: all 0.5s ease-in-out;
}
/**
 * Изображения внутри аккордеона
 * ...сделаем их отзывчивыми
 */
.accordion .msg img {
    width: 100%;
    height: auto;
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
 
/* полноразмерная картинка */
.msg img .large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
 .msg img.img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
.msg img.img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}
 
/* Встраиваемое видео */
.video-responsive {
    margin: 20px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Предусмотри использование кода встраиваемого видео
 *через iframe, object или embed */
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Адаптив*/
@media screen and (max-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(960px, 1200px));
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      margin: 0 auto;
      position: relative;
      grid-column-gap: 0;
      grid-row-gap: 0;
      height: 100vh;
    }

    /*step*/
    .step {
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: auto;
        grid-row: 3 / 4;
        grid-column: 1 / 4;
      }
    
      .step h2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        margin-left: 0;
        text-align: center;
      }
    
      .img_step1,
      .img_step2,
      .img_step3,
      .img_step5, 
      .img_step6 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: .7em 0 0 -.5em;
      }
    
      .img_step1,
      .step1 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
      }
    
      .img_step2,
      .step2 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
      }
    
      .img_step3,
      .step3 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
      }
      .img_step4,
      .step4 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
      }

      .img_step5,
      .step5 {
        grid-row: 4 / 5;
        grid-column: 3 / 4;
      }

          .img_step6,
      .step6 {
        grid-row: 5 / 6;
        grid-column: 3 / 4;
      }

      .step1,
      .step2,
      .step3,
      .step4,
      .step5,
      .step6 {
        font-size: 0.9rem;
        font-weight: 300;
        /* margin-right: 1.5em; */
        margin-left: 2em;
        margin-bottom: 1.5em;
        margin-top: -0.2em;
        font-style: italic;
        background-size: cover;
      }
    
    

}
@media screen and (max-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(540px, 768px));
      grid-template-rows: repeat(5, 1fr);
      margin: 0 auto;
      position: relative;
      grid-column-gap: 0;
      grid-row-gap: 0;
      height: 100vh;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.1rem;
    }
  
    h3 {
      font-size: 1rem;
    }
    .step {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
      }
      .step h2{
        display: none;
      }
    
      .img_step1,
      .img_step2,
      .img_step3,
      .img_step4,
      .img_step5,
      .img_step6{
        margin: 2em 0 0 -2em;
      }
    
      .img_step1,
      .step1 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }
    
      .img_step2,
      .step2 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
      }
      .img_step3,
      .step3 {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
      }
    
      .img_step4,
      .step4 {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
      }
    
      .img_step5,
      .step5 {
        grid-row: 6/ 7;
        grid-column: 2 / 3;
      }
      .img_step6,
      .step6 {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
      }

    
      .step1,
      .step2,
      .step3,
      .step4,
      .step5,
      .step6 {
    
        font-size: 0.8rem;
        font-weight: 300;
      }
    
    }    