/*Создание галереи слайд-шоу
то что делала на практике site4*/
* {
    box-sizing: border-box;
   }
   /* Контейнер слайдшоу*/
   .container {
    position: relative;
   }
   /* Прячем картинки по умолчанию*/
   .mySlides {
    display: none;
   }
   /* Добавляем точку при курсоре */
   .cursor {
    cursor: pointer;
   }
   /* вперед/назад кнопки*/
   .prev,
   .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
   }
   /* Позиция кнопки "следующая" справа*/
   .next {
    right: 0;
    border-radius: 3px 0 0 3px;
   }
   /* hover и цвет заднего фона*/
   .prev:hover,
   .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
   }
   /* текст по номеру 1/3*/
   .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
   }
   /* текст на картинке*/
   .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
   }
   .row:after {
    content: "";
    display: table;
    clear: both;
   }
   /* Колонки слева/направо */
   .column {
    float: left;
    width: 16.66%;
   }
   /* добавляем анимацию */
   .demo {
    opacity: 0.6;
   }
   .active,
   .demo:hover {
    opacity: 1;
   }

